svg#root > rect
{
    fill: #888;
}
svg.place > rect
{
    fill: #fff;
    strokeWidth: 0;
}
svg.place > rect:hover
{
    fill: rgba(0, 0, 255, 0.1);
}
svg.place > rect.wall
{
    fill: #000;
}
svg.place.work:hover > rect,
svg.place.work:focus > rect
{
    fill: rgba(255, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}
svg.place.work:focus > rect
{
    fill: rgba(255, 0, 0, 0.3);
}
svg.place.office:hover > rect
{
    fill: rgba(0, 255, 0, 0.05);
}
